.contactUs {
  margin: 0;
  height: inherit; }
  .contactUs .contactUsText:first-of-type {
    padding-top: 15px; }
  .contactUs .contactUsText:last-of-type {
    padding-bottom: 15px; }

.headline {
  padding: 10px 0 15px 0;
  font-size: 30px;
  font-weight: bold; }

.banner {
  background-color: #000000;
  height: 7px;
  width: 60px; }

.contactUsText {
  font-size: 14px;
  padding: 10px 0; }

.welcomeBtn {
  padding: 5px;
  height: auto;
  width: 140px;
  background-color: #ffffff;
  outline: none;
  font-size: 14px; }
  .welcomeBtn:hover {
    cursor: pointer; }

@media screen and (min-width: 801px) {
  .contactUs {
    width: 70%;
    margin-left: 30px; } }
