$base-color: #1e1e1e;
$breakpoint: 801px;

.footer {
  background-color: $base-color;
  width: 100%;
  min-width: 310px;
  height: 120px;
  * {color: #ffffff};
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.aboutUsText {
  display: none;
  width: 50%;
  padding: 10px 30px 10px 0;
  font-size: 14px;
  color: #aaaaaa;
  overflow: hidden;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.copyright {
  justify-content: right;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.menuList {
  display: none;
  flex-direction: row-reverse;
}

.menuListItem {
  display: none;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;

  &:hover {
    background-color: #ffffff;
    cursor: pointer;
    > .menuListItemLink {color: black};
  }
}

.menuListItemLink {
  display: inline-block;

}

@media screen and (min-width: $breakpoint) {
  .footer { height: 150px; }

  .aboutUsText { display: block; }

  .menuContainer { width: 50%; }

  .menuList { display: flex; }

  .menuListItem { display: block; }

  .copyright {
    font-size: 14px;
    text-align: right;
  }
}