$base-color: rgb(68, 140, 203);
$breakpoint: 800px;

.navbar {
  font-size: 18px;
  background-color: $base-color ;
  * {color: #fff};
  li, a {list-style-type: none;
         text-decoration: none;}
}

.navTop {
  color: #fff;
  .navTopListItemLink { display: inline-block }
  .navTopList .navTopListItem:after { content: "|" }
  .navTopList .navTopListItem:last-child:after { content: "" }
}

.navTopList {
  color: #fff;
  display: flex;
  .navTopListItem:first-child {
    .navTopListItemLink { padding-left: 0 };
    :hover {
      margin-left: -10px;
      padding-left: 10px;
    }
  }
  .navTopListItem .navTopListItemLink:hover {
    background-color: darken($base-color, 5%);
  }
}

.navTopListItemLink { padding: 15px 10px; }

.navLogo {
  padding: 20px 0;
  font-size: 30px;
  display: inline-block;
  align-items: baseline;
}

.mainMenu {
  padding: 20px 0;
  display: inline-block;
  float: right;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
}

.navbarToggle {
  display: flex;
  justify-content: flex-end;
}

.navbarIcon {
  justify-content: center;
  align-items: center;
  display: none;
  width: 50px;
  height: 50px;
  padding: 4px 0 0 12px;
  border-radius: 10px;
  background-color: darken($base-color, 15%);
  font-size: 30px;
  cursor: pointer;
}

.dropdownArrow:last-of-type { display: none; }

.navMainMenuList { display: flex; }

.navMainMenuListItem {
  padding: 0 10px;
  &:hover {
    background-color: darken($base-color, 10%);
    color: #000000;
  }
}

.navMainMenuLink, .dropBtn {
  padding: 15px 10px ;
  display: inline-block;
}

.dropdown {
  display: inline-block;
  &:hover {
    .dropdownShape {display: block}
    .caretDownIcon {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}

.caretDownIcon { margin-left: 5px; }

.dropBtn {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  &:hover {
    background-color: darken($base-color, 10%);
  }
}

.dropdownShape {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-left: -30px;
}

.dropdownArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin: auto;
}

.dropdownList {
  display: block;
  background-color: #000000;
  padding: 15px 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  .dropdownListItem {
     color: #ffffff;
     padding: 5px 10px;
     text-decoration: none;
     display: block;
     text-align: left;
     }
}

.dropdownList a:hover {
  background-color: #ffffff;
  color: #000000;
}


@media screen and (max-width: $breakpoint) {
  .navTop { display: none; }

  .mainMenu .dropdownArrow:last-of-type { display: block; }

  .mainMenu .dropdownArrow { margin-left: 145px; }

  .navbarIcon { display: block; }

  .navMainMenuList {
    display: block;
    background-color: #000000;
    width: 180px;

    .navMainMenuListItem:first-child { padding-top: 15px }
    .navMainMenuListItem:last-child { padding-bottom: 15px }
  }

  .navMainMenuLink  {
    padding-left: 10px;
    width: 100%;
  }

  .dropdown {
    width: 100%;
    padding: 0 10px;
  }

  .dropBtn {
    width: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }

  .dropdownList {
    position: absolute;
    width: 180px;
    top: -50px;
    right: 87%;

    .dropdownListItem { padding: 15px 10px; }
  }

  .navMainMenuLink:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .navMainMenuListItem:hover { background-color: inherit; }
}