$breakpoint: 801px;

.productWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 45%;
  overflow: hidden;
  width: 100%;
  height: 0;

  &:first-child {
    margin-bottom: 30px;
  }
}

.productImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.productTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(211, 211, 211, .75);
}

@media screen and (min-width: $breakpoint) {
  .productWrapper {
    padding-top: calc(50% - 15px);
  }
}