.welcome {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  min-height: 250px;
  min-width: 250px;
  color: #ffffff;
  background-color: #448ccb; }

.headline {
  padding: 30px 30px 15px 30px;
  font-size: 30px;
  font-weight: bold; }

.banner {
  margin-left: 30px;
  background-color: #ffffff;
  height: 7px;
  width: 60px; }

.welcomeText {
  font-size: 14px;
  padding: 15px 30px 30px; }

.btnWrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  bottom: 0;
  right: 0;
  padding: 0 30px 30px 0; }

.btn {
  width: 200px;
  height: 40px;
  background-color: #448ccb;
  border: solid #ffffff 3px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px; }
  .btn:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #448ccb; }

@media screen and (min-width: 801px) {
  .welcome {
    width: 30%;
    min-width: 250px;
    min-height: 0;
    margin-bottom: 0; }
  .btnWrapper {
    position: absolute; } }
