html {
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  margin: auto;
  height: 100%;
  padding: 20px 30px;
  max-width: 1200px; }

.show {
  display: block; }

.hide {
  display: none; }
