.navbar {
  min-width: 310px;
  font-size: 18px;
  background-color: #448ccb; }
  .navbar * {
    color: #fff; }

.navTop {
  color: #fff; }
  .navTop .navTopListItemLink {
    display: inline-block; }
  .navTop .navTopList .navTopListItem:after {
    content: "|"; }
  .navTop .navTopList .navTopListItem:last-child:after {
    content: ""; }

.navTopList {
  color: #fff;
  display: flex; }
  .navTopList .navTopListItem:first-child .navTopListItemLink {
    padding-left: 0; }
  .navTopList .navTopListItem:first-child :hover {
    margin-left: -10px;
    padding-left: 10px; }
  .navTopList .navTopListItem .navTopListItemLink:hover {
    background-color: #357fc0; }

.navTopListItemLink {
  padding: 15px 10px; }

.navLogo {
  padding: 20px 0;
  font-size: 30px;
  display: inline-block;
  align-items: baseline; }

.mainMenu {
  padding: 20px 0;
  display: inline-block;
  float: right;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold; }

.navbarToggle {
  display: flex;
  justify-content: flex-end; }

.navbarIcon {
  justify-content: center;
  align-items: center;
  display: none;
  width: 50px;
  height: 50px;
  padding: 4px 0 0 12px;
  border-radius: 10px;
  background-color: #2a6598;
  font-size: 30px;
  cursor: pointer; }

.navMenuContainer {
  position: absolute;
  top: 95px;
  right: 30px;
  z-index: 5; }

.dropdownArrow:last-of-type {
  display: none; }

.navMainMenuList {
  display: flex; }

.navMainMenuListItem {
  padding: 0 10px; }
  .navMainMenuListItem:hover {
    background-color: #3072ac;
    color: #000000; }

.navMainMenuLink, .dropBtn {
  padding: 15px 10px;
  display: inline-block; }

.dropdown {
  display: inline-block; }
  .dropdown:hover .dropdownShape {
    display: block; }
  .dropdown:hover .caretDownIcon {
    opacity: 0;
    transition: opacity 0.5s; }

.caretDownIcon {
  margin-left: 5px; }

.dropBtn {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }
  .dropBtn:hover {
    background-color: #3072ac; }

.dropdownShape {
  display: none;
  position: absolute;
  min-width: 160px;
  margin-left: -30px; }

.dropdownArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  margin: auto; }

.dropdownList {
  display: block;
  background-color: #000000;
  padding: 15px 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdownList .dropdownListItem {
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left; }

.dropdownList a:hover {
  background-color: #ffffff;
  color: #000000; }

@media screen and (max-width: 800px) {
  .navTop {
    display: none; }
  .mainMenu .dropdownArrow:last-of-type {
    display: block; }
  .mainMenu .dropdownArrow {
    margin-left: 145px; }
  .navbarIcon {
    display: block; }
  .navMainMenuList {
    display: block;
    background-color: #000000;
    width: 180px; }
    .navMainMenuList .navMainMenuListItem:first-child {
      padding-top: 15px; }
    .navMainMenuList .navMainMenuListItem:last-child {
      padding-bottom: 15px; }
  .navMainMenuLink {
    padding-left: 10px;
    width: 100%; }
  .dropdown {
    width: 100%;
    padding: 0 10px; }
  .dropBtn {
    width: 100%;
    display: flex;
    align-items: center; }
    .dropBtn:hover {
      background-color: #ffffff;
      color: #000000; }
  .dropdownList {
    position: absolute;
    width: 180px;
    top: -50px;
    right: 87%; }
    .dropdownList .dropdownListItem {
      padding: 15px 10px; }
  .navMainMenuLink:hover {
    background-color: #ffffff;
    color: #000000; }
  .navMainMenuListItem:hover {
    background-color: inherit; } }
